.arrow-down {
    position: absolute;
    top: 5px;
    transform: translateX(-43px);
    transition: transform 500ms ease-in-out;
}

.arrow-down[data-currentPlayer="2"] {
    transform: translateX(44px);
}
